@import "~jquery-modal/jquery.modal.min.css";
@import url(../../../assets/css/fly-topnav.css);
@import url(../../../assets/css/fly-common.css);
.framework-header {
  position: fixed;
  padding-left: 410px;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background: #1d5ab5;
  z-index: 101;
}

.header-logo {
  overflow: hidden;
  height: 100%;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  line-height: 80px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
}

.header-logo .logo-full {
  width: 100%;
  height: 100%;
}

.lp-header-info {
  /* background: red; */
  position: absolute;
  top: 0px;
  right: 0px;
}
