<div class="framework-header">
  <div class="header-logo">
    <div class="logo-full">智能交通设备监测管理平台</div>
  </div>

  <div class="topnav-wrap header-nav clearfix">
    <div class="topnav-list-wrap clearfix">

      <div class="topnav-list" style="width: 100%;">

        <div class="topnav-list-item ell active">
          <span>设备管理</span>
        </div>

        <div class="topnav-list-item ell">
          <span>运行监控</span>
        </div>

        <div class="topnav-list-item ell">
          <span>故障告警</span>
        </div>

        <div class="topnav-list-item ell">
          <span>设备运维</span>
        </div>

        <div class="topnav-list-item ell">
          <span>统计分析</span>
        </div>
      </div>
    </div>
    <div class="topnav-more" style="display: none;">
      <a href="javascript:void(null)" class="nav-more">
        <span class="ell" title="更多">更多</span>
        <i class="icon icon-down"></i>
      </a>

    </div>
  </div>

  <div class="header-info lp-header-info">
    <span class="header-quit">
      <i></i>
      <strong>退出</strong>
    </span>
    <span class="header-user">Hi,
      <strong>测试二</strong>
    </span>
    <span class="header-photo"></span>
  </div>
</div>
